@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Catamaran");

body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
}

#myCanvas {
  background-color: black;
  background-attachment: 40%;
  border-radius: 5px;
  border: 5px solid rgb(128, 0, 0);
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.top-div {
  height: 100px;
  text-align: center;
}

body > div > div.top-div > p {
  font-family: "Monoton", cursive;
  font-size: 45px;
  color: red;
}

body > div > div.footer > p {
  font-family: "Catamaran", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
